{% extends "base.html" %}

{% block title %} Artist Detail {% endblock %}

{% block content %}
  <h1>
    Artist: {{ artist.artist_name }}
    <a href="{% url 'catalog:artist-delete' pk=artist.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'catalog:artist-update' pk=artist.id %}" class="btn btn-secondary link-to-page">
      Update information
    </a>
  </h1>

  <p><strong>Country:</strong> {{ artist.country }}</p>
  <p><strong>Total song by this artist:</strong> {{ artist.songs.all.count }}</p>

  <div class="ml-3">
    <h4>Songs:</h4>

    {% for song in artist.songs.all %}
        <hr>
      <p><a href="{{song.get_absolute_url}}">{{ song.song }}</a></p>
        <p>Genre: {{ song.genre.style }}</p>

    {% empty %}
      <p>No songs!</p>
    {% endfor %}
  </div>
{% endblock %}
