{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div>
      <h1 >Welcome to the best Radio Station!</h1>
      <h3>Here you can find music from all over the world! For every kind of taste!</h3>

    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">theater_comedy</i>
            </div>
            <p class="card-category"><a href="{% url 'catalog:artist-list' %}">Artists</a></p>
            <h3 class="card-title"> {{ num_artists }}
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">music_note</i>
            </div>
            <p class="card-category"><a href="{% url 'catalog:song-list' %}">Songs</a></p>
            <h3 class="card-title">{{ num_songs }}</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">queue_music</i>
            </div>
            <p class="card-category"><a href="{% url 'catalog:generated-playlist' %}">Generate playlist</a></p>
          </div>
        </div>
      </div>
    </div>

      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart" id="completedTasksChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">You have visited this page</h4>
            {{ num_visits }} time{{ num_visits|pluralize }}
          </div>
          <div class="card-footer">
            <div class="stats">

            </div>
          </div>
        </div>
      </div>


{% endblock content %}
