{% extends "base.html" %}

{% block content %}
  <h1>
    Title: {{ song.song }}
  <a style="float: right" class="btn btn-secondary" href="{% url 'catalog:song-update' pk=song.id %}">Edit</a>
  </h1>
  <p><strong>Genre: {{ song.genre.style }}</strong></p>

  <div class="ml-3">
    <h3>Artists</h3>

    {% for artist in song.artists.all %}
      <hr>
      <p class="text-muted"><strong>Id</strong>{{ artist.id }}</p>
      <p>
        <strong>Artist name:</strong>
        {% if artist.artist_name %}<a href="{{artist.get_absolute_url}}">{{ artist.artist_name }}</a>{% endif %}
      </p>
      {% empty %}
      <p>No artists, asshole!</p>
    {% endfor %}
  </div>
  <br>
  <div>
    {% if song.youtube_link %}
    <a href="{{ song.youtube_link }}">Watch on YouTube</a>
    {% endif %}
  </div>
{% endblock %}