{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Song List
  <a style="float: right" class="btn btn-primary" href="{% url 'catalog:song-create' %}">+</a>
  </h1>
  <hr>
  <form action="" method="get" class="form-inline">
  {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>
  <hr>
  {% if song_list %}
    <table class="table">
    <tr>
      <th>ID</th>
      <th>Song Name</th>
      <th>Artist</th>
      <th>Genre</th>
    </tr>

    {% for song in song_list %}
    <tr>
      <td>
        <a href="{{song.get_absolute_url}}">{{ song.id }}</a>
      </td>
      <td>
        <a href="{{song.get_absolute_url}}">{{ song.song }}</a>
      </td>
      <td>
        <a href="{{ song.artists.all.first.get_absolute_url }}">{{ song.artists.all.first.band_name }}</a>
      </td>
      <td>
        {{ song.genre }}
      </td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>No songs, sorry</p>
    {% endif %}


{% endblock %}
